REACT_APP_VITE_SPOONACULAR_API_KEY=your_spoonacular_api_key_here
VITE_API_URL=http://localhost:5001/api
# For production with Render, this will be set in Render's environment variables
VITE_RENDER_API_URL=https://u09-business-project-loopback-labs.onrender.com

# GitHub OAuth
VITE_GITHUB_CLIENT_ID=your_github_client_id_here
VITE_GITHUB_CLIENT_SECRET=your_github_client_secret_here
