// Base styles
@import "base/variables";
@import "base/mixins";
@import "base/reset";

// Components
@import "components/layout/navigation";
@import "components/layout";
@import "components/input";

// Pages
@import "pages/landing";

// Global styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--foreground);
}
